/*Navbar*/

.navbar-brand{
    width: auto;
    height: 60px;
}

#nav{
    padding-top: 0px;
}

#nav-container{
    margin-top: 0px;
    background-color: white;
}

.nav-link:hover{
    color: black;
    font-weight: 500;
}

.nav-link.active {
    color: black;
    font-weight: bold;
}

/*Get Your Website Developed Section*/

/* Updated ID to reflect website focus */
#get-your-website-developed-container{
    background-color: #D9D9D9;
    margin-top: 50px;
    justify-content: center;
}

#h1-medium{
    text-align: center;
    color: black;
    font-size: 180%;
    font-weight:500;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Desktop sizing*/

@media screen and (min-width: 769px) {
    /* Updated ID to reflect website focus */
    #get-your-website-developed-container-inner{
        display: flex;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2%;
    }
}

/*Phone sizing*/

@media screen and (max-width: 768px) {
    #h1-medium{
        padding-top: 30px;
    }

    /* Updated ID to reflect website focus */
    #get-your-website-developed-container-inner{
        width: 100%;
        height: 100%;
        padding-bottom: 2%;
    }
}

.h2-extra-bold-created-by-experts{
    font-size: 150%;
    font-weight: bold;
    color: black;
}

/* Updated class name to reflect website focus */
.developing-high-quality-websites-paragraph{
    font-size: 130%;
}

/* Updated ID to reflect website focus */
#h2-extra-bold-get-your-first-website-developed{
    font-size: 150%;
    font-weight: bold;
    color: black;
}

a {
    font-weight: 700;
}

/* Removed CSS for #get-your-app-developed-button as it's no longer in HTML */

/* Removed CSS for #best-before-login-image-row as it's no longer in HTML */

/*The Development Process Section*/

#development-process-container{
    background-color: #343E3D;
}

.h2-large-white{
    text-align: center;
    color: white;
    font-size: 180%;
    font-weight:500;
    padding-top: 2%;
    padding-bottom: 10%;
}

/*apply colours to each element within the dev process */

#dev-process-column-col-1-row1,
#dev-process-col-2-row-1,
#dev-process-col-1-row-2,
#dev-process-col-2-row-2,
#dev-process-col-1-row-3{
    background-color: #607466;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
}

.h3-large-white{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 150%;
}

.h4-large-white{
    font-size: 150%;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.dev-process-paragraph{
    color: white;
    font-size: 100%;
}

/*change to display block if on smaller screens to display in column*/

@media screen and (max-width: 768px){
    #development-process-row-1,
    #development-process-row-2,
    #development-process-row-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-right: 5%;
    }

    #dev-process-column-col-1-row1,
    #dev-process-col-2-row-1,
    #dev-process-col-1-row-2,
    #dev-process-col-2-row-2,
    #dev-process-col-1-row-3{
        margin-top: 2%;
    }
}

/*Pricing Section*/

#pricing-container{
    background-color: #114B5F;
    padding-bottom: 2%;
}

/* Removed CSS for .info-icon as it's no longer in HTML */

/* Removed CSS for old info paragraphs as they're no longer in HTML */


.table-header{
    font-size: 150%;
}

.table-header-left{
    border-top-left-radius: 50px;
}

.table-header-right{
    border-top-right-radius: 50px;
}

#table-header-1{
    background-color: #88A5AF;
    border: none;
    text-align: center;
    color: white;
}

#table-header-2{
    background-color: #7D6167;
    color: white;
    text-align: center;
    border: none;
}

#table-header-3{
    background-color: #754F5B;
    color: white;
    text-align: center;
    border: none;
}

#column-1a, #column-1b, #column-1c, #column-1d, #column-1e, #column-1f, #column-1g, #column-1h{
    background-color: #88A5AF;
    border: none;
    color: white;
}

#column-2a, #column-2b, #column-2c, #column-2d, #column-2e, #column-2f, #column-2g, #column-2h{
    background-color: #7D6167;
    border: none;
    color: white;
}

#column-3a, #column-3b, #column-3c, #column-3d, #column-3e, #column-3f, #column-3g, #column-3h{
    background-color: #754F5B;
    border: none;
    color: white;
}

table{
    text-align: center;
    font-weight: bold;
}

#table-bottom-left{
    border-bottom-left-radius: 50px;
    border: none;
}

#table-bottom-right{
    border-bottom-right-radius: 50px;
    border: none;
    background-color: #754F5B;
    color: white;
}

/* Class name kept as is, but text in HTML indicates "smaller screen" instead of "mobile" */
.mobile-pricing-table-paragraph{
    color: white;
    text-align: center;
    margin: 0;
}

/*What we'll need from you section*/

#what-we-will-need-from-you-container{
    background-color: #87BCDE;
    padding-bottom: 2%;
}

.h3-medium-black-align-left{
    color: black;
    font-size: 150%;
    font-weight: bold;
}

#confirming-your-identity-column{
    background-color: #FFEAEE;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    margin-right: 2%;
}

#confirming-your-address-column{
    background-color: #FFEAEE;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}

#requirements-column{
    background-color: #FFEAEE;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 2%;
    margin-right: 2%;
}

#payment-column{
    background-color: #FFEAEE;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 2%;
}

#get-a-free-quote-container{
    text-align: center;
    background-color: #0074BD;
    padding: 5px;
    border-radius: 10px;
    margin-top: 2%;
}

/* #get-a-free-quote-link-main was not in the provided HTML for this page, keeping as is if it's for another page, otherwise it can be removed. */
#get-a-free-quote-link-main{
    color: #dbdbdb;
    background-color: black;
}

#get-a-free-quote-link{
    color: #dbdbdb;
    font-size: 120%;
}

#get-a-free-quote-link:hover{
    color: white;
}

/*change to display block if on smaller screens to display in column*/

@media screen and (max-width: 768px) {
    #what-we-will-need-from-you-row-1,
    #what-we-will-need-from-you-row-2 {
        display: flex;
        flex-direction: column;
    }

    #confirming-your-identity-column,
    #confirming-your-address-column,
    #requirements-column,
    #payment-column {
        max-width: 100%;
        margin-right: 0%;
        margin-top: 2%;
    }
}

/* Removed CSS for #payment-get-your-app-developed-button as it's no longer in HTML */

/* Removed CSS for #payment-terms-link as it's no longer in HTML */


/*Legal Section*/

#legal-container{
    background-color: #61A0AF;
    padding-bottom: 10px;
}

#legal-header{
    margin-bottom: 0;
}

#development-terms-and-conditions-header, #maintenance-terms-and-conditions-header{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 150%;
}

#development-terms-and-conditions-container, #maintenance-terms-and-conditions-container{
    background-color: #96C9DC;
    padding: 10px;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;

}

#maintence-terms-paragraph-info, #website-terms-paragraph-info{
    color: white;
    font-weight: 600;
    text-align: left;

}

#maintenance-terms-v1-container, #website-terms-v1-container{
    background-color: #7CB5C6;
    padding: 10px;
    margin-top: 2%;
    border-radius: 5px;
}

#terms-pdf-download-btn-1, #terms-pdf-download-btn-2{
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    align-content: center;
    font-size: 110%;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

#terms-pdf-download-btn:hover{
    background-color: #F5F5F5;
}

/*Mobile sizing (make rows stack vertically)*/

@media screen and (max-width: 768px) {
    #terms-row{
        flex-direction: column;
        display: block;
        max-width: 98%;
        width: 100%;
        margin: 0;
        align-items: center;
    }

    #development-terms-and-conditions-container{
        margin-bottom: 2%;
    }
}

/*Help Section*/
#help-container{
    background-color: #202324;
    margin: 0;
}

/*FAQ Section*/

#faq-column{
    background-color: #2A2F31;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

#faq-header{
    font-weight: 700;
    font-size: 150%;
    text-align: left;
    color:#C9C9C9;
}

.highlight {
    color: white;
    font-weight: bold;
    font-size: 100%;
}

.faq-question-header{
    font-size: 100%;
    text-align: left;
}

.faq-paragraph{
    color: white;
    font-weight: 400;
    font-size: 100%;
}

/*Contact Us Section*/

#contact-us-column{
    background-color: #2A2F31;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    max-height: 100px;
}

#contact-us-header{
    color: white;
    font-weight: bold;
    font-size: 130%;
    text-align: left;
    margin-top: 1%;
}

.h4-light-white{
    color: white;
    font-size: 110%;
}

#email-paragraph{
    color: white;
    font-size: 100%;
}

/*change to display block if on smaller screens to display in column*/

@media screen and (max-width: 768px) {
    #help-row{
        display: flex;
        flex-direction: column;
        margin-right: 1%;
    }

    #faq-column,
    #contact-us-column{
        max-width: 100%;
        margin-top: 2%;
    }
}

/*FOOTER*/
#cmi-logo-footer{
    width: 8rem;
    height: auto;
}

.footer-container{
    background-color: white;
    height: 100%;
    padding: 10px;
    font-size: 90%;
}